<div class="post-wrapper">
  <article class="post-article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="post-title" itemprop="name headline">{{title}}</h2>
    {{#if post.isPage}}
    <div class="post-meta">
      <div class="meta-left">
        <p>
          Posted by
          <span itemprop="author" itemscope itemptype="http://schema.org/Person">
            {{#if site.social.googleplus}}
            <a href="{{ site.social.googleplus }}?rel=author" target="_blank">
              <span itemprop="name">{{site.author.name}}</span>
            </a>
            {{else}}
            <span itemprop="name">{{site.author.name}}</span>
            {{/if}}
          </span>
          on <time datetime="{{dateObj}}" itemprop="datePublished">{{date}}</time>
        </p>
      </div>
      {{#if this.tags}}
      <div class="meta-right">
        <p>
          <span class="meta-label">Tags: </span>
          <span class="meta-tags">
          {{#each this.tags}}
            <a href="/tag/{{this}}">{{this}}</a>
          {{/each}}
          </span>
        </p>
      </div>
      {{/if}}
    </div>
    {{/if}}

    <div class="post-content" itemprop="text">
      {{content}}
    </div>
  </article>

  {{#if isPage}}{{else}}
  {{#if disqus.shortname}}
  <hr />
  <div class="post-comments">
    <div class="text-center">
      <button class="button show-comments">Load Comments</button>
    </div>
    <div id="disqus_thread"></div>
  </div>

  <script>
  $(document).ready(function () {
    $('.show-comments').on('click', function () {
      $(this).fadeOut('fast');

      // Delay the script loading so the button fades out
      // before the disqus loader takes it's place
      setTimeout(function () {
        $.ajax({
          type      : "GET",
          url       : "http://{{disqus.shortname}}.disqus.com/embed.js",
          dataType  : "script",
          cache     : true
        })
      }, 200);

    });
  });
  </script>
  {{/if}}
  {{/if}}
</div>
